@import 'var';

.top_nav{
	.nav_l{
		ul{display: none;z-index: 3;}
		h2{
			i{display: block!important;}
		}
		&:hover i{display: none!important;}
		&:hover>ul{display: block;}
	}
} 
.main{
	.main_l{padding-top: 23px;float: left;width: 957px;box-sizing:border-box;
		h2{font-weight: normal;font-size:14px; height: 24px;line-height: 24px;}
		.term{border:1px solid #E5E5E5;margin-bottom: 20px;
			.termt{border-bottom: 1px dashed #E5E5E5;}
			.termt,.termb{
				span{background: #F1F1F1;width: 93px;min-height: 60px;float: left;
					font-size: 14px;font-weight: bold;line-height: 60px;padding-left: 10px;
					box-sizing:border-box;
				}
				b{float: right;width: 66px;height: 60px;line-height: 60px;font-size: 14px;font-weight: normal;
					position: relative;
					i{position: absolute;top: 0;right: 15px;}
				}
				p{float: left;overflow: hidden;
					a{padding: 0 15px;height: 60px;float: left;font-size: 14px;line-height: 60px;
						color:#666;}
				}
			}
		}
		.filter{margin-bottom: 30px;width: 957px;box-sizing:border-box;background: #F1F1F1;
			ul{
				li{float: left;height: 46px;line-height: 46px;padding: 0 32px;font-size: 12px;
					position: relative;color:#666;background: #F1F1F1;box-sizing:border-box;
					border-top:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;
					i{position: absolute;top: 0;right: 12px;color:#666;font-size: 12px;}
					.shang{font-size: 6px;top: 0;right: 15px;}
					.xia{font-size: 6px;bottom: 0;right: 0px;}
					&:first-child{border-left:1px solid #E5E5E5;}
					&:last-child{overflow: hidden;
						input{display: inline-block;width: 50px;border:0 none;height: 24px;
							border:1px solid #D6D6D6;padding-left: 5px;}
						button{display:inline-block;border:0 none;background: $mainColor;width: 50px;
								height: 24px;outline: none;font-size: 12px;color:#fff;margin-left: 15px;
								&:hover{background:#E23E72;}
							}
					}
				}
				li.active{background: #fff;color:$mainColor;border-bottom: 0 none;
					border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;
				}
			}
		}
		.goods{
			ul{width: 958px;box-sizing:border-box;padding: 0 10px 30px 10px;
				li{float: left;margin-bottom: 30px;
					a{display: block;position: relative;width: 234px;
						img{width: 234px;height: 234px;}
						.jingkou{width: 24px;height: 24px;position: absolute;top: 0;left: 0;}
						b{font-size: 14px;font-weight: normal;width: 214px;color:#333;}
						p{font-size: 18px;overflow: hidden;color:#E11F24;
							del{font-size: 14px;float: right;color:#999;margin-right: 15px;}
						}
						span{color:#666;font-size: 14px;}
					}
				}
			}
		}
		.page{margin: 0 138px 34px 140px;
			p{display: inline-block;
				button{display:inline-block;border:0 none;background: #FAFAFA;width: 38px;
					height: 35px;outline: none;font-size: 14px;color:#666;margin-left: 4px;border:1px solid #E5E5E5;
					&:hover{background:#DC0F50;color:#fff;border-color:#DC0F50; }
					&.active{background:#DC0F50;color:#fff;border-color:#DC0F50; }
					&:first-child,&:last-child{width: 75px;};
				}
				span{font-size: 14px;color:#666;margin-left: 4px;height: 37px;
					input{display: inline-block;width: 23px;height: 35px;border:0 none;
						border:1px solid #E5E5E5;padding-left: 12px;}
					b{font-weight: normal;}
				}
			}
		}
	}
	.main_r{float: right;
		div{width: 233px;padding-top: 21px;
			h2{float: left;font-size: 20px;color:#333;margin-right: 22px;font-weight: normal;}
			h3{border-bottom: 1px solid $borderColor;float: right;width: 130px;}
		}
		ul{
			li{height: 105px;box-sizing:border-box;border-bottom: 1px solid $borderColor;
				width: 225px;padding:10px;
				a{display: block;overflow: hidden;width: 225px;height: 82px;
					img{width: 80px;height: 80px;float: left;}
					first{position: absolute;top: 0;left: 0;background:url("../img/first.png") no-repeat;
							width: 23px;height: 24px;display: block;
						}
					div{width: 130px;float: right;height: 80px;box-sizing:border-box;padding-top: 0;
						p{font-size: 14px;color:#333;margin-bottom: 5px;}
						span{color:#DC0F76;font-size: 18px;}
					}
				}
			}
		}
	}
}
