@charset "UTF-8";
body, h1, h2, h3, h4, ul, li, ol, li, dl, dt, dd, p { margin: 0; padding: 0; }

ul, li { list-style: none; }

a { text-decoration: none; }

img { border: 0 none; display: block; }

.container { width: 1200px; margin: 0 auto; }

/*兼容到IE8只能写一个冒号*/
.clearfix::after { content: ""; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; zoom: 1; }

input { padding: 0; outline: none; }

i { position: absolute; display: block; }

.fl { float: left; }

.fr { float: right; }
