@charset "UTF-8";
/* 存放全局变量 */
header { min-width: 1200px; background: #E5E5E5; }

header .header_l { float: left; font-size: 12px; line-height: 30px; color: #666; }

header .header_l:hover { color: #DC0F8C; text-decoration: underline; }

header .header_r { float: right; }

header .header_r li { float: left; }

header .header_r li a { color: #666; line-height: 30px; }

header .header_r li a.active:hover { color: #DC0F8C; text-decoration: underline; }

header .header_r li a span { padding: 0 10px; font-size: 12px; height: 12px; }

header .header_r li a span:hover span { text-decoration: underline; }

header .header_r li a span span { color: #DC0F8C; }

header .header_r li a:nth-child(4), header .header_r li anth-child(6):hover { color: #666; text-decoration: none; }

header .header_r li:nth-child(3) a > span, header .header_r li:nth-child(7) a > span { border-right: 1px solid #666; padding-right: 25px; }

header .header_r li:nth-child(4) a > span, header .header_r li:nth-child(8) a > span { padding-left: 25px; }

header .header_r li:nth-child(8) a > span, header .header_r li:nth-child(9) a > span { padding-left: 35px; }

header .header_r .phone, header .header_r .wechat { position: relative; }

header .header_r .phone i, header .header_r .wechat i { position: absolute; top: 7px; left: 18px; }

header .header_r .phone div, header .header_r .wechat div { display: none; z-index: 1; background: #fff; padding: 15px; border: 1px solid #ddd; position: absolute; top: 30px; right: 10px; }

header .header_r .phone div img, header .header_r .wechat div img { width: 120px; height: 120px; }

header .header_r .phone div p, header .header_r .wechat div p { margin-top: 10px; text-align: center; font-size: 16px; }

header .header_r .phone div p.line, header .header_r .wechat div p.line { padding-bottom: 10px; border-bottom: 1px solid #ddd; }

header .header_r .phone div .sanjiao, header .header_r .wechat div .sanjiao { position: absolute; top: -10px; left: 112px; color: #fff; font-size: 20px; }

header .header_r .phone:hover div, header .header_r .wechat:hover div { display: block; }

.top { border-bottom: 2px solid #DC0F50; }

.top .top_t { box-sizing: border-box; height: 100px; padding-top: 30px; }

.top .top_t img { float: left; width: 236px; height: 44px; margin-right: 113px; margin-top: 14px; }

.top .top_t .top_t_c { float: left; }

.top .top_t .top_t_c input { float: left; height: 40px; width: 400px; border: 2px solid #DC0F50; padding-left: 15px; }

.top .top_t .top_t_c button { float: left; border: 0 none; background: #DC0F50; width: 100px; height: 44px; outline: none; font-size: 18px; color: #fff; }

.top .top_t .top_t_c ul { margin-left: 7px; }

.top .top_t .top_t_c ul li { float: left; font-size: 14px; margin-top: 7px; padding-right: 15px; }

.top .top_t .top_t_c ul li a.active { color: #DC0F50; }

.top .top_t .top_t_c ul li a { color: #999; }

.top .top_t .top_t_c ul li a:hover { color: #DC0F50; }

.top .top_t .top_t_R { position: relative; float: right; margin-right: 72px; /*>i{position: absolute;color:#fff;font-size: 30px;bottom:-15px;left:40%;color:#E5E5E5;}*/ }

.top .top_t .top_t_R .top_t_r { float: right; box-sizing: border-box; width: 120px; height: 44px; border: 1px solid #E5E5E5; color: #333; line-height: 44px; padding-left: 40px; font-size: 14px; position: relative; z-index: -1; }

.top .top_t .top_t_R .top_t_r span { display: block; width: 18px; height: 18px; border-radius: 50%; background: #DC0F50; color: #fff; line-height: 18px; text-align: center; font-size: 12px; position: absolute; top: -9px; right: -9px; z-index: -1; }

.top .top_t .top_t_R .top_t_r i { position: absolute; top: 0; left: 8px; font-size: 26px; color: #DC0F50; }

.top .top_t .top_t_R .buycar { display: none; border: 1px solid #E5E5E5; width: 320px; position: absolute; top: 45px; right: 0; min-height: 60px; line-height: 60px; padding-left: 80px; box-sizing: border-box; }

.top .top_t .top_t_R .buycar i { position: absolute; top: 0; left: 20px; font-size: 36px; color: #999; }

.top .top_t .top_t_R .buycar span { font-size: 12px; color: #999; }

.top .top_nav { padding-top: 30px; }

.top .top_nav .nav_l { float: left; font-size: 14px; position: relative; }

.top .top_nav .nav_l h2 { font-size: 14px; background: #333; width: 233px; height: 40px; line-height: 40px; color: #fff; padding-left: 20px; }

.top .top_nav .nav_l ul { position: absolute; height: 560px; border: 1px solid #E5E5E5; border-top: 0 none; top: 42px; left: 0; }

.top .top_nav .nav_l ul li a { display: block; color: #333; height: 40px; line-height: 40px; padding-left: 20px; width: 232px; }

.top .top_nav .nav_l ul li:hover { background: #DC0F50; }

.top .top_nav .nav_l ul li:hover a { color: #fff; }

.top .top_nav .nav_r { float: left; margin-left: 34px; }

.top .top_nav .nav_r li { float: left; padding: 0 20px; height: 40px; line-height: 40px; }

.top .top_nav .nav_r li a { color: #333; font-size: 18px; }

.top .top_nav .nav_r li a:hover { color: #DC0F50; }

.top .top_nav .nav_r li a.active { color: #DC0F50; }

/*-----------------------------top----------------------------------------------*/
.banner .rect { float: left; margin-left: 262px; }

.banner .rect .rect_l { float: left; width: 714px; }

.banner .rect .rect_l .show { float: left; }

.banner .rect .rect_l .tv { float: left; }

.banner .rect .rect_l .tv img { float: left; }

.banner .rect .rect_l .tv img:first-child { margin-right: 4px; }

.banner .rect .rect_r { float: right; margin-top: 10px; margin-left: 10px; width: 210px; border: 1px solid #E5E5E5; }

.banner .rect .rect_r img { width: 40px; height: 40px; margin: 20px auto; margin-bottom: 0; }

.banner .rect .rect_r p { text-align: center; height: 22px; line-height: 22px; font-size: 12px; }

.banner .rect .rect_r .signin { display: block; background: #DC0F50; width: 180px; height: 40px; text-align: center; line-height: 40px; color: #fff; margin: 15px auto 0 auto; }

.banner .rect .rect_r a { display: block; text-align: right; height: 30px; line-height: 30px; font-size: 12px; margin-left: 145px; width: 50px; }

.banner .rect .rect_r .dolist { padding: 10px; }

.banner .rect .rect_r .dolist > p { font-size: 20px; padding-left: 40px; position: relative; padding-top: 15px; border-top: 1px solid #E5E5E5; font-weight: bold; }

.banner .rect .rect_r .dolist > p i { font-size: 32px; position: absolute; top: 10px; left: 0; }

.banner .rect .rect_r .dolist ul { padding-top: 40px; }

.banner .rect .rect_r .dolist ul li { float: left; padding-top: 40px; position: relative; padding: 10px; height: 46px; }

.banner .rect .rect_r .dolist ul li p { text-align: center; font-size: 12px; margin: 0; height: 16px; line-height: 6px; }

.banner .rect .rect_r .dolist ul li i { position: absolute; top: -20px; left: 11px; font-size: 26px; }
